<section class="container map-container mt-4">
  <h2 class="map-title mb-2">Game Store Map</h2>
  <p class="map-description mb-2">Find nearby stores that might sell video games.</p>

  <ul class="map-description mb-3">
    <li>Search within a radius of <strong>2, 5, 10 or 20 km</strong></li>
    <li>Filter by store type: videogames, electronics or general stores</li>
    <li>Select a store to see the route, travel time, contact info and availability probability</li>
  </ul>
  <div id="map"></div>
</section>
