<div class="container mt-4">
  <h2 class="mb-2 text-start">Graphics</h2>
  <h5 class="mb-4 text-start text-muted">Select a game</h5>
  <div class="mb-4">
    <select
      class="form-select w-auto"
      [ngModel]="selectedGame()"
      (ngModelChange)="selectedGame.set($event); onSelectGame()"
    >
      <option [ngValue]="null">-- Select --</option>

      @for (game of games(); track game.id) {
        <option [ngValue]="game">{{ game.name }} - {{ game.platform }} ({{ game.region }})</option>
      }
    </select>
  </div>

  @if (priceData().length > 0) {
    <div class="row g-4">
      <div class="col-md-6 text-center">
        <h5 class="mb-3">Price Histogram</h5>
        <div class="d-flex justify-content-center">
          <canvas id="histogramChart"></canvas>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <h5 class="mb-3">Price Distribution</h5>
        <div class="d-flex justify-content-center">
          <canvas id="pieChart"></canvas>
        </div>
      </div>
    </div>
  }
</div>
