<nav class="navbar navbar-expand-lg">
  <div class="container">
    <li class="navbar-brand d-flex align-items-center gap-2" routerLink="/" (click)="closeMenu()">
      <img src="assets/logo_icon.png" alt="logo" height="60" />
      <span>MemoryCard Archive</span>
    </li>

    @if (authService.isLoggedIn()) {
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [class.show]="menuOpen()">
        <ul class="navbar-nav ms-auto gap-3">
          <li class="nav-item d-flex align-items-center gap-3 mx-3">
            <span class="navbar-name">
              {{ authService.userName() || 'Player' }}
            </span>
            <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeMenu()"
              >Search</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/collection"
              routerLinkActive="active"
              (click)="closeMenu()"
              >Collection</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/map" routerLinkActive="active" (click)="closeMenu()"
              >Map</a
            >
          </li>
        </ul>
      </div>
    }
  </div>
</nav>
