<section class="container mt-4">
  <!-- ADVANCE SEARCH SIDEBAR -->
  <div class="filters-sidebar" [class.open]="filtersOpen()">
    <h5 class="mb-3">Advanced Search</h5>
    <div class="mb-3">
      <small>Platform</small>
      <div class="filter-boxes mt-2">
        @for (
          p of [
            'Switch',
            'Wii U',
            'Wii',
            'GameCube',
            'Nintendo 64',
            'SNES',
            'NES',
            'Nintendo 3DS',
            'Nintendo DS',
            'Game Boy Advance',
            'Game Boy',
            'PS5',
            'PS4',
            'PS3',
            'PS2',
            'PS1',
            'PS Vita',
            'PSP',
            'Xbox Series',
            'Xbox One',
            'Xbox 360',
            'Xbox',
            'PC',
          ];
          track p
        ) {
          <div
            class="filter-box"
            [class.active]="selectedPlatforms().includes(p)"
            (click)="toggleFilter(selectedPlatforms, p, false)"
          >
            {{ p }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Year</small>
      <div class="filter-boxes mt-2">
        @for (y of ['2020s', '2010s', '2000s', '90s', '80s']; track y) {
          <div
            class="filter-box"
            [class.active]="selectedYears().includes(y)"
            (click)="toggleFilter(selectedYears, y, false)"
          >
            {{ y }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Type</small>
      <div class="filter-boxes mt-2">
        @for (
          t of [
            'Game',
            'Remake',
            'Remaster',
            'Expanded',
            'Bundle',
            'DLC',
            'Expansion',
            'Port',
            'Fangame',
          ];
          track t
        ) {
          <div
            class="filter-box"
            [class.active]="selectedTypes().includes(t)"
            (click)="toggleFilter(selectedTypes, t, false)"
          >
            {{ t }}
          </div>
        }
      </div>
    </div>
    <button class="btn btn-sm btn-outline-light w-100 mt-3" (click)="resetFilters()">
      Reset filters
    </button>
  </div>

  <!-- GAME INFORMATION SIDEBAR -->
  <div class="gameinfo-sidebar" [class.open]="gameOpen()">
    @if (selectedGame()) {
      <div class="game-hero" [style.height.%]="35">
        <ng-container *ngFor="let img of images(); let i = index">
          <img [src]="img" [class.active]="i === currentImageIndex()" />
        </ng-container>
        <div class="overlay"></div>
        <div class="hero-content">
          <span
            class="game-tag big"
            [ngClass]="'tag-' + getGameTypeLabel(selectedGame()?.game_type).toLowerCase()"
          >
            {{ getGameTypeLabel(selectedGame()?.game_type) }}
          </span>
          <h4>{{ selectedGame()?.name }}</h4>
          <p class="platform-year">
            {{ selectedGame()?.main_platform?.name || 'Unknown' }} •
            {{
              selectedGame()?.first_release_date
                ? (selectedGame()?.first_release_date * 1000 | date: 'dd-MM-yyyy')
                : '----'
            }}
          </p>
          <p class="company">
            {{ selectedGame()?.involved_companies?.[0]?.company?.name || '---' }}
          </p>
          <p class="rating">
            {{
              selectedGame()?.rating ? (selectedGame()?.rating | number: '1.0-0') + '/100' : '---'
            }}
          </p>
        </div>
      </div>
      <div class="game-body">
        <p class="summary">
          {{ getShortSummary(selectedGame()?.summary) }}
        </p>
        <div class="selectors">
          <div>
            <small>Region</small>
            <select
              class="form-select form-select-sm"
              [ngModel]="selectedRegion()"
              (ngModelChange)="selectedRegion.set($any($event))"
            >
              <option>PAL</option>
              <option>NTSC-U</option>
              <option>NTSC-J</option>
              <option>Region Free</option>
            </select>
          </div>
          <div>
            <small>Format</small>
            <select
              class="form-select form-select-sm"
              [ngModel]="selectedFormat()"
              (ngModelChange)="selectedFormat.set($any($event))"
            >
              <option>Physical</option>
              <option>Digital</option>
            </select>
          </div>
        </div>
        <button
          class="btn btn-success w-100 mt-3"
          (click)="addToCollection(selectedGame(), selectedRegion(), selectedFormat())"
        >
          Add to collection
        </button>
        <div class="collection-confirmation" *ngIf="showConfirmation()">Added to collection</div>
      </div>
    }
  </div>

  <!-- NORMAL PAGE -->

  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2 mb-3"
  >
    <h2 class="page-title mb-2">Search Games</h2>
  </div>

  <!--  GRID DE JUEGOS -->

  <div class="search-container mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search games..."
      (input)="onInputChange($any($event.target).value)"
    />
    <button class="btn-collection apply-btn" (click)="applyFilters()">Apply</button>
    <button class="btn-collection filters-btn" (click)="filtersOpen.update(v => !v)">
      Advanced
    </button>
  </div>
  <div
    class="active-filters"
    *ngIf="selectedPlatforms().length || selectedYears().length || selectedTypes().length"
  >
    @for (p of selectedPlatforms(); track p) {
      <span class="active-tag">
        {{ p }}
        <span (click)="toggleFilter(selectedPlatforms, p)">X</span>
      </span>
    }

    @for (y of selectedYears(); track y) {
      <span class="active-tag">
        {{ y }}
        <span (click)="toggleFilter(selectedYears, y)">X</span>
      </span>
    }

    @for (t of selectedTypes(); track t) {
      <span class="active-tag">
        {{ t }}
        <span (click)="toggleFilter(selectedTypes, t)">X</span>
      </span>
    }
  </div>
  <div class="games-grid mt-4" [class.animating]="isGridAnimating()">
    @if (!isUpdating()) {
      @for (
        game of isSearching() ? searchResults() : gamesExplore();
        track game.id + '-' + currentPage()
      ) {
        <div class="game-card" (click)="openGameInfo(game); $event.stopPropagation()">
          <span
            class="game-tag"
            [ngClass]="'tag-' + getGameTypeLabel(game.game_type).toLowerCase()"
          >
            {{ getGameTypeLabel(game.game_type) }}
          </span>
          <img
            [src]="
              game.cover?.url
                ? 'https:' + game.cover.url.replace('t_thumb', 't_cover_big_2x')
                : 'assets/no-image.png'
            "
            class="game-poster"
          />
          <div class="game-info">
            <h6>{{ game.name || 'Unknown' }}</h6>
            <p>{{ game.main_platform?.name || 'Unknown platform' }}</p>
            <p>
              {{
                game.first_release_date ? (game.first_release_date * 1000 | date: 'yyyy') : '----'
              }}
            </p>
          </div>
        </div>
      }
    }
  </div>
  <div class="pagination-container my-4">
    <button class="page-btn prev-btn" (click)="prevPage()">←</button>
    @for (p of visiblePages(); track p) {
      <button class="page-btn" [class.active]="p === currentPage()" (click)="goToPage(p)">
        {{ p }}
      </button>
    }
    <button class="page-btn next-btn" (click)="nextPage()">→</button>
  </div>
</section>
