.sortable {
  cursor: pointer;
  white-space: nowrap;
}

.sort-arrow {
  font-size: 0.75rem;
  margin-left: 4px;
}

.game-title {
  font-weight: 600;
}

.crud-description {
  font-size: 0.95rem;
  color: #555;
  max-width: 850px;
}

.game-meta {
  font-size: 0.75rem;
  color: #6c757d;
  line-height: 1.1;
}

.game-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 4px;
}

.price-cell {
  font-weight: 600;
  white-space: nowrap;
}

.actions-cell button {
  padding: 3px 6px;
}

.games-grid {
  display: grid;
  gap: 16px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
  max-width: 1400px;
  margin: 0 auto;
}

.game-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:hover .game-poster {
    transform: scale(1.1);
  }

  &:hover .game-info {
    transform: translateY(0);
    opacity: 1;
  }
}

.game-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 8px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);

  transform: translateY(100%);
  opacity: 0;

  transition: all 0.3s ease;

  backdrop-filter: blur(0.5px);

  h6 {
    margin: 0;
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
  }

  p {
    margin: 0;
    font-size: 0.7rem;
    color: #ccc;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.page-btn {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px 10px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #eee;
  }

  &.active {
    border-color: black;
    font-weight: bold;
    background: #ddd;
  }
}

@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }

  .game-image {
    width: 32px;
    height: 32px;
  }

  .btn,
  .form-label {
    font-size: 0.85rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
