<section class="container mt-4">
  <!-- ADVANCE SEARCH SIDEBAR -->
  <div class="filters-toggle" [class.open]="filtersOpen()" (click)="filtersOpen.update(v => !v)">
    Advanced Search
  </div>
  <div class="filters-sidebar" [class.open]="filtersOpen()">
    <h5 class="mb-3">Advanced Search</h5>
    <div class="mb-3">
      <small>Platform</small>
      <div class="filter-boxes mt-2">
        @for (p of ['PC', 'PS5', 'Xbox', 'Switch']; track p) {
          <div class="filter-box">
            {{ p }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Genre</small>
      <div class="filter-boxes mt-2">
        @for (g of ['Action', 'RPG', 'Shooter', 'Sports']; track g) {
          <div class="filter-box">
            {{ g }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Year</small>
      <div class="filter-boxes mt-2">
        @for (y of ['2024', '2023', '2020s', '2010s']; track y) {
          <div class="filter-box">
            {{ y }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Type</small>
      <div class="filter-boxes mt-2">
        @for (t of ['Main Game', 'DLC', 'Expansion', 'Remake']; track t) {
          <div class="filter-box">
            {{ t }}
          </div>
        }
      </div>
    </div>
    <div class="mb-3">
      <small>Company</small>
      <div class="filter-boxes mt-2">
        @for (c of ['Nintendo', 'Sony', 'Microsoft', 'Ubisoft']; track c) {
          <div class="filter-box">
            {{ c }}
          </div>
        }
      </div>
    </div>
    <button class="btn btn-sm btn-outline-light w-100 mt-3">Reset filters</button>
  </div>

  <!-- GAME INFORMATION SIDEBAR -->
  <div class="gameinfo-sidebar" [class.open]="gameOpen()">
    @if (selectedGame()) {
      <div class="game-hero" [style.height.%]="35">
        <ng-container *ngFor="let img of images(); let i = index">
          <img [src]="img" [class.active]="i === currentImageIndex()" />
        </ng-container>
        <div class="overlay"></div>
        <div class="hero-content">
          <span
            class="game-tag big"
            [ngClass]="'tag-' + getGameTypeLabel(selectedGame()?.game_type).toLowerCase()"
          >
            {{ getGameTypeLabel(selectedGame()?.game_type) }}
          </span>
          <h4>{{ selectedGame()?.name }}</h4>
          <p class="platform-year">
            {{ selectedGame()?.main_platform?.name || 'Unknown' }} •
            {{
              selectedGame()?.first_release_date
                ? (selectedGame()?.first_release_date * 1000 | date: 'dd-MM-yyyy')
                : '----'
            }}
          </p>
          <p class="company">
            {{ selectedGame()?.involved_companies?.[0]?.company?.name || '---' }}
          </p>
          <p class="rating">
            {{
              selectedGame()?.rating ? (selectedGame()?.rating | number: '1.0-0') + '/100' : '---'
            }}
          </p>
        </div>
      </div>
      <div class="game-body">
        <p class="summary">
          {{ getShortSummary(selectedGame()?.summary) }}
        </p>
        <div class="selectors">
          <div>
            <small>Region</small>
            <select class="form-select form-select-sm">
              <option>PAL</option>
              <option>NTSC-U</option>
              <option>NTSC-J</option>
              <option>Region Free</option>
            </select>
          </div>
          <div>
            <small>Format</small>
            <select class="form-select form-select-sm">
              <option>Physical</option>
              <option>Digital</option>
            </select>
          </div>
        </div>
        <button
          class="btn btn-success w-100 mt-3"
          (click)="addToCollection(selectedGame(), 'PAL', 'Physical')"
        >
          Add to collection
        </button>
      </div>
    }
  </div>

  <!-- NORMAL PAGE -->

  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2 mb-3"
  >
    <h2 class="mb-2">Home</h2>
    <div class="d-flex flex-row justify-content-end align-items-center gap-4">
      <h5 class="mb-0">{{ authService.getUserName() }}</h5>
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
    </div>
  </div>

  <!--  GRID DE JUEGOS -->

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search games..."
      (input)="onSearch($any($event.target).value)"
    />
  </div>
  <div class="games-grid mt-4">
    @for (game of isSearching() ? searchResults() : gamesExplore(); track game.id) {
      <div class="game-card" (click)="openGameInfo(game); $event.stopPropagation()">
        <span class="game-tag" [ngClass]="'tag-' + getGameTypeLabel(game.game_type).toLowerCase()">
          {{ getGameTypeLabel(game.game_type) }}
        </span>
        <img
          [src]="
            game.cover?.url
              ? 'https:' + game.cover.url.replace('t_thumb', 't_cover_big_2x')
              : 'assets/no-image.png'
          "
          class="game-poster"
        />
        <div class="game-info">
          <h6>{{ game.name || 'Unknown' }}</h6>
          <p>{{ game.main_platform?.name || 'Unknown platform' }}</p>
          <p>
            {{ game.first_release_date ? (game.first_release_date * 1000 | date: 'yyyy') : '----' }}
          </p>
        </div>
      </div>
    }
  </div>
  <div class="pagination-container my-4">
    <button class="page-btn" (click)="prevPage()">←</button>
    @for (p of visiblePages(); track p) {
      <button class="page-btn" [class.active]="p === currentPage()" (click)="goToPage(p)">
        {{ p }}
      </button>
    }
    <button class="page-btn" (click)="nextPage()">→</button>
  </div>
</section>
